/* .card{
    width: 500px;
    margin:120px auto;
    padding: 120px 40px;
    background-color:hsl(148, 86%, 50%);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.share_btn{
    width: 180px;
    background-color:aliceblue;
     border-radius: 40px;
     padding: 10px;
     border: none;
     font-weight: 900;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 14px;
     margin-top: 15px;
}
.para{
    font-weight: 800;
}
.heading{
    font-family: sans-serif;
} */
/* .profile-card{
    width:350px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin:100px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.padding{
    padding:20px 30px;
}
img{
    border-radius: 60px;
    height: 40px;
    width:40px;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 10px;
}
.profiles-div{
    color: blue;
    font-size: 10px;
    padding:10px 20px;
    border-top: 1px solid lightgray;
} */

.plan-card{
    width:250px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin:50px auto;

}
img{
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.padding-content{
    padding:10px 10px;
}
button{
    border:none;
    background-color: white;
    border:1px solid lightgray;
    border-radius: 5px;
    padding: 5px 20px;
    color: blue;
}
span{
    margin-left: 10px;
    font-size: 10px;
}
p{
    font-size: 12px;
    line-height: 15px;
}
.fa-lock {
    /* Your custom styles here */
    color: #000; /* Example color */
    font-size: 12px; /* Example font size */
  }
